*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  font-size: 15px;
  font-family: 'League Spartan';
}
:root {
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('./images/bg-pattern-top-mobile.svg'),
    url('./images/bg-pattern-bottom-mobile.svg');
  background-repeat: no-repeat;
  background-position: left top, right bottom;
  background-size: auto, contain;
}
.main-container {
  margin: 5.466rem 1.6rem 6.6rem 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.main-container > h1:first-child {
  text-align: center;
  margin-bottom: 1.133rem;
  font-size: 2.66rem;
  color: var(--very-dark-magenta);
  line-height: 2.133rem;
  letter-spacing: -0.09533rem;
}
.main-container > p:nth-child(2) {
  text-align: center;
  color: var(--dark-grayish-magenta);
  font-size: 1.266rem;
  line-height: 1.66rem;
  letter-spacing: -0.04rem;
  font-weight: 500;
}

.review-container p {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 21.8rem;
  max-height: 5.2rem;
  background-color: var(--light-grayish-magenta);
  margin-bottom: 1.066rem;
  border-radius: 0.533rem;
  margin-top: 1rem;
}
